body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu-link {
    color: red;
    text-decoration: none;
    margin: 0 15px;
    border: 3px solid black;
    border-radius: 25%;
    padding: 0 15px;
}